
         <!-- BEGIN FOOTER -->
        <div style="width:100%;"><!-- BEGIN POST-FOOTER -->
<div class="page-footer">
	<div class="container">
		 <div style="float:left;"> &copy; Warrantyist, All Rights Reserved</div>
		  <div>
		   <a href="#" class="soc_link" ><img src="assets/admin/layout/img/login-signup-footer-google-icon.png"/></a>
		  <a href="#" class="soc_link" ><img src="assets/admin/layout/img/login-signup-footer-twtr-icon.png"/></a>
		  <a href="#" class="soc_link" ><img src="assets/admin/layout/img/login-signup-footer-fb-icon.png"/></a>
		  <a class="footer_link"> Powered by &nbsp;&nbsp; <img src="assets/admin/layout/img/login-signup-footer-appetals-logo.png" style="max-width:20px;"/>&nbsp; Appetals Solutions Private Limited</a>
		  
		 
		  </div>
	</div>
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>
<!-- END POST-FOOTER --></div>
        <!-- END FOOTER -->